<?xml version="1.0" ?>

<plugin>

    <extension id="ui.preferences.urigen"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="New entities server"/>
        <class value="uk.ac.ebi.fgpt.urigen.panel.UrigenPreferencePanel"/>
    </extension>


    <extension
            id="EKHook"
            point="org.protege.editor.core.application.EditorKitHook">
        <class value="uk.ac.ebi.fgpt.urigen.entity.MyEditorKitHook" />
        <editorKitId
                value="OWLEditorKit">
        </editorKitId>
    </extension>
    <!--<extension id="myeditorhook"-->
    <!--point="org.protege.editor.core.editorkit.plugin.EditorKitHook">-->
    <!--<label value="urigen.editorkithook" />-->
    <!--<class value="uk.ac.ebi.fgpt.urigen.entity.MyEditorKitHook" />-->
    <!--</extension>-->

    <extension id="menu.RenameEntitiesWithUrigenAction"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Assign URIs from Urigen..."/>
        <class value="uk.ac.ebi.fgpt.urigen.action.RenameEntitiesWithUrigenAction"/>
        <toolTip value="Change the URI of entities using a Urigen server"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotA-D"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

</plugin>